body{    
    margin: auto;    
    /*text-align: center;*/
    font-family: 'Roboto', arial;
    color:#F9FAF8    
}

.flex_container{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;   
}  

.calculator{
    margin-top: 150px; 
    width: 450px;
    height: 600px; 
    min-width: 450px;
    background-color: darkgray;
    border-radius: 20px; 
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#calculator_display{
    width: 400px;
    height: 125px;
    background-color: aliceblue;
    color: black;
    font-size: 50px;  
    position: relative; 
    border-radius: 10px; 
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: auto;
    margin-top: 20px;
}

#calculator_display > span {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#subText{
    top: 15px;
    font-size: 25px;
}


#clearBTN, #deleteBTN{
    width: 197px; 
    height: 80px; 
    margin-left: 22px;
    margin-top: 20px;    
    border-radius: 10px;     
    font-size: 25px;
} 

#deleteBTN{
    margin-left: 5px;
    background-color: indianred;
}

#clearBTN{
    background-color: burlywood;
}

.button_container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#row{
    display: flex;
    height: 75px;
    background-color: darkgray;
    border: none;
    gap: 5px;
}
.calculator_buttons{
    display: flex;
    flex: 1;
    gap: 5px;    
    height: 70px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: darkslateblue;
    color: azure;
}